**/*history
**/*logout
mpd/.mpd/
mpd/**/**/mpd.log
mpd/**/**/mpd.db
mpd/**/**/mpd.pid
mpd/**/**/mpdstate
mpd/**/**/playlists
zsh/**/.zcomp*
ncmpcpp/.ncmpcpp/error.log
ncmpcpp/.ncmpcpp/artists
ncmpcpp/.ncmpcpp/config.def
vim/.viminfo
mutt/.mutt/cache/*
mutt/.mutt/certificates
mutt/.mutt/id
mutt/.mutt/addresses
ranger/.config/ranger/bookmarks
weechat/*
