**/*history
**/*logout
mpd/*
!mpd.conf
zsh/**/**/.zcomp*
ncmpcpp/.ncmpcpp/error.log
ncmpcpp/.ncmpcpp/artists
ncmpcpp/.ncmpcpp/config.def
mutt/.config/mutt/cache/*
mutt/.config/mutt/cache/headers
mutt/.config/mutt/certificates
mutt/.config/mutt/id
mutt/.config/mutt/addresses
vim/.vim/*
!vim/.vim/colors
