**/*history
**/*logout
mpd/*
!mpd.conf
**/.zcomp*
ncmpcpp/.ncmpcpp/error.log
ncmpcpp/.ncmpcpp/artists
ncmpcpp/.ncmpcpp/config.def
mutt/.config/mutt/cache/**
mutt/.config/mutt/certificates
mutt/.config/mutt/id
mutt/.config/mutt/addresses
vim/.vim/*
!vim/.vim/colors
!vim/.vim/ftplugin
newsbeuter/.newsbeuter/*
!newsbeuter/.newsbeuter/config
systemd/.config/systemd/user/default.target.wants
vdir/.config/vdirsyncer/**
!vdir/.config/vdirsyncer/config.def
emacs/*
!init.el
!jangotango-theme.el
*.swp
