!! terminal colors
!*background:            #303030
!*foreground:            #ffffff
!! Black (not tango) + DarkGrey
!*color0:                #000000
!*color8:                #555753
!! DarkRed + Red
!*color1:                #ff6565
!*color9:                #ff8d8d
!! DarkGreen + Green
!*color2:                #93d44f
!*color10:               #c8e7a8
!! DarkYellow + Yellow
!*color3:                #eab93d
!*color11:               #ffc123
!! DarkBlue + Blue
!*color4:                #204a87
!*color12:               #3465a4
!! DarkMagenta + Magenta
!*color5:                #ce5c00
!*color13:               #f57900
!!DarkCyan + Cyan
!*color6:                #89b6e2
!*color14:               #46a4ff
!! LightGrey + White
!*color7:                #cccccc
!*color15:               #ffffff
! special
*.foreground:   #ffffff
*.background:   #303030
*.cursorColor:  #ffffff

! black
*.color0:       #000000
*.color8:       #555753

! red
*.color1:       #63a0ee
*.color9:       #b8cfee

! green
*.color2:       #b0e07f
*.color10:      #d4e0c9

! yellow
*.color3:       #cfe04e
*.color11:      #f2fd9a

! blue
*.color4:       #2e6dc8
*.color12:      #88a2c8

! magenta
*.color5:       #ab5ac9
*.color13:      #c0a7c9

! cyan
*.color6:       #4bd8e2
*.color14:      #99dde2

! white
*.color7:       #cdcdcd
*.color15:      #ffffff

! --- end of terminal colors section ---

! fontconfigs and copy/paste with url launching
!URxvt.font: 		xft:Inconsolata-zi4:size=12
!*font:                  -*-termsyn-medium-*-*-*-15-*-*-*-*-*-*-*
Emacs.font: 		Roboto Mono 10
*font:                  -*-dina-medium-r-*-*-13-*-*-*-*-*-*-*
*perl-ext-common:       default,clipboard,url-select,keyboard-select
*keysym.M-Escape:       perl:keyboard-select:activate
*keysym.M-s: 	        perl:keyboard-select:search
*keysym.M-u: 	        perl:url-select:select_next
*keysym.M-c: 	        perl:clipboard:copy
*keysym.M-v: 	        perl:clipboard:paste
*keysym.M-C-v: 	        perl:clipboard:paste_escaped
*url-select.autocopy:   1
*url-select.button:     1
*url-select.underline:  1
*url-select.launcher:   /usr/bin/firefox
*colorUL:               #4682B4
*iso14755:              0
*scrollBar: 	        0
*transparent:           0

Xft*autohint:	        0
Xft*lcdfilter:	        lcddefault
Xft*hintstyle:	        hintslight
Xft*hinting: 	        1
Xft*antialias:          1
Xft*rgba:	        rgb
Xft*dpi:	        96

dzen2.font: 	        -*-terminus-medium-*-*-*-12-*-*-*-*-*-*-*
dzen2.foreground:       rgb:ff/ff/ff
dzen2.background:       rgb:00/00/00

rofi.font:              Fira Mono 10
rofi.color-enabled:     1
rofi.color-normal:      #303030, #FFFFFF, #4A4A4A, #5294E2, #FFFFFF 
rofi.color-window:      #303030, #303030
rofi.color-urgent:      #303030, #DC322F, #4A4A4A, #5294E2, #DC322F 
rofi.color-active:      #303030, #C2CAD0, #4A4A4A, #5294E2, #FFFFFF 
rofi.separator-style:   solid
rofi.terminal:          /sbin/termite

Emacs.toolBar:          0
Emacs.verticalScrollBars: off
Emacs.menuBar:          0
