set imap_user = "username"
set imap_pass = "password"

set smtp_url = "smtp://username@smtp.gmail.com:587/"
set smtp_pass = "password"
set from = "username@gmail.com"
set realname = "FirstName LastName"

set folder = "imaps://imap.gmail.com/"
set spoolfile = "+INBOX"
set record = "imaps://imap.gmail.com/[Gmail]/Sent Mail"
set postponed = "imaps://imap.gmail.com/[Gmail]/Drafts"

set header_cache=~/.mutt/cache/headers
set message_cachedir=~/.mutt/cache/bodies
set certificate_file=~/.mutt/certificates

mailboxes = "imaps://imap.gmail.com/[GMAIL]"

set sidebar_visible = yes

# mutt sidebar settings
macro index b '<enter-command>toggle sidebar_visible<enter>'
macro pager b '<enter-command>toggle sidebar_visible<enter><redraw-screen>'

# Ctrl-n, Ctrl-p to select next, previous folder
# Ctrl-o to open selected folder
bind index,pager \CP sidebar-prev
bind index,pager \CN sidebar-next
bind index,pager \CO sidebar-open

set move=no
set alias_file=~/.mutt/aliases
source $alias_file
